NEXTAUTH_URL=http://localhost:3003
AUTH_SECRET=your-secret-here-at-least-32-chars
NEXTAUTH_SECRET=your-secret-here-at-least-32-chars
NEXT_PUBLIC_BACKEND_URL=http://localhost:3000

# Optional Google OAuth
GOOGLE_CLIENT_ID=187708653486-j12lnfgvq6olsunalsqid93nc4r92vrp.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

